<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hey! {{ title }}!
  </h1>
</div>

<h1>{{welcome}}</h1>

<table class="table">
  <tr>
      <th>Tarea</th>
      <th>Responsable</th>
  </tr>
  <tr *ngFor="let task of tasks; let i = index" >
    <td>{{i + 1}}</td>
    <div *ngIf="!task.show">
      <td><h1>{{task.task}}</h1></td>
      <td><p>{{task.responsible}}</p></td>
    </div>
    <td><button [ngStyle]="{'background' : ['yellow','orange','grey'][i]}" (click) = "toggle(task)">Esconde o muestra esta tarea</button></td>
  </tr>
</table>
